/* @import url('../../index.css');/ */
.authorization.grid {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 0;

}

.authorization-page {
    color: #fff;
    padding: 2rem;
    background-color: hsl(var(--clr-primary));
    --flow-space: 2rem;
}

.logo {
    width: 150px
}
.authorization.grid .description {
    font-size: var(--fs-500);
}
.routes {
    margin: auto 6rem;
    align-items: center;
    justify-content: center;
}
/* .routes > * {
    width: 50%
} */
.grid.input-grid {
    grid-template-columns: repeat(2, 1fr);
    --gap: 2rem;
}
.routes .page-title {
    font-size: var(--fs-400);
    color: hsl(var(--clr-secondary))
}
.routes form {
    margin: 2rem 0;
    --flow-space: 0.5rem;
}
.routes .form-title {
    color: hsl(var(--clr-secondary));
    font-size: var(--fs-200);
}
.routes .form-heading {
    color: hsl(var(--clr-accent2));
    font-size: var(--fs-200);
}
.routes .form-inputs {
    margin: 1.5rem 0;
    --flow-space: 1rem;
}
.routes .form-inputs label {
    font-size: var(--fs-100);
}
.routes .form-inputs input {
    color: hsl(var(--clr-accent2));
    font-size: var(--fs-200);
    margin-top: 5px;
}
@media (max-width: 760px) {
    .authorization.grid .description {
        font-size: var(--fs-400);
    }
    .routes {
        margin: 4rem 2rem;
    }
}
@media (max-width: 390px) {
    .authorization.grid {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
    
    }
    .authorization-page {
        background-color: hsl(var(--clr-white));
    }

    .authorization-page > p,
    .authorization-page > img {
        display: none;
    }

    .desktop-logo {
        display: none
    }
    .mobile-logo {
        margin-top: 0
    }
}
@media (min-width: 391px) {
    .mobile-logo {
        display: none
    }
}
@media (max-width: 760px) {
    .grid.input-grid {
        grid-template-columns: 1fr;
    }
}

/* Login */
.login-page {
    width: 50%;
}
.login-page .remember-reset,
.login-page .form-inputs .remember-reset label {
    margin-top: 0.3rem;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-size: var(--fs-100);
    font-weight: 400;
}
.login-page .form-inputs .remember-reset label {
    display: flex;
    justify-content: center;
    margin-top: 0
}
.login-page button.signin {
    width: 100%;
    margin-top: 1.5rem;
}
.login-page p.signup {
    text-align: center;
    margin: 2rem 0;
    font-size: var(--fs-200);
}

@media (max-width: 1024px) {
    .login-page {
        width: 70%;
    }
}
@media (max-width: 760px) {
    .login-page {
        width: 100%;
    }
}

/* Signup */

.signup-page .terms {
    font-size: var(--fs-100);
}
.signup-page .terms input[type='checkbox'] {
    height: 0.7rem
}
.signup-page .terms > * {
    margin: 0.5rem
}
.signup-page button.signup {
    margin: 1rem 0
}
.signup-page p.signin {
    font-size: var(--fs-200);
}

/* Reset Password */
.reset-page {
    width: 70%
}
.reset-page button.reset-password {
    margin: 2rem 0 1rem;
}
.reset-page  p {
    font-size: var(--fs-200);
    margin: 0.3rem 0;
}
@media (max-width: 760px) {
    .reset-page {
        width: 100%;
    }
}