.reset-page {
    width: 70%
}
.reset-page button.reset-password {
    margin: 2rem 0;
}
.reset-page  p {
    font-size: var(--fs-200);
    margin: 0.3rem 0;
}
@media (max-width: 760px) {
    .reset-page {
        width: 100%;
    }
}